# 3.연산 및 흐름 제어

## 연산

### 수치연산

In [3]:
2+3

5

In [4]:
3-2

1

In [5]:
2*3

6

In [6]:
3.14**2

9.8596

In [7]:
2**0.5

1.4142135623730951

In [8]:
5/2

2.5

In [9]:
5//2

2

In [10]:
5%2

1

### 대입연산

In [12]:
a = 6

In [13]:
b=4

In [14]:
a+b

10

In [15]:
a - b

2

In [16]:
a*b

24

In [17]:
a**b

1296

In [18]:
a/b

1.5

In [19]:
a//b

1

In [20]:
a%b

2

In [21]:
a = 20

In [22]:
a  += 5

In [23]:
print(a)

25

In [24]:
a -= 10

In [25]:
print(a)

15

In [26]:
a*=2

In [27]:
print(a)

30

In [28]:
a /= 3

In [29]:
print(a)

10.0

In [30]:
a = 3

In [31]:
b = 2

In [32]:
a *= 2+b

In [33]:
print(a)

12

In [34]:
a *= b-5

In [35]:
a

-36

### 비교연산자

In [36]:
a= 95

In [37]:
a == 90

False

In [38]:
a != 90

True

In [39]:
a >90

True

In [40]:
a<90

False

In [41]:
a >= 90

True

In [42]:
a <= 90

False

In [43]:
a<=95

True

In [44]:
a >= 90 and a <= 100

True

In [45]:
90 <= a <= 100

True

In [46]:
100 <= a <= 110

False

In [47]:
70 <= a <=80

False

### 변수 id 비교

In [48]:
a = [1,2,'Hello Data']

In [49]:
b = [1,2,'Hello Data']

In [50]:
a == b

True

In [51]:
id(a) == id(b)

False

In [52]:
id(a)

2472031621824

In [53]:
id(b)

2472032171776

In [54]:
a.append('A')

In [55]:
print(a)

[1, 2, 'Hello Data', 'A']

In [56]:
id(a)

2472031621824

### 논리연산자

In [57]:
a = True

In [58]:
b = False

#### AND

In [59]:
a and b

False

In [60]:
a and a

True

In [61]:
b and b

False

#### OR

In [62]:
a or b

True

In [63]:
a or a

True

In [64]:
b or b

False

#### NOT

In [65]:
not a

False

In [66]:
not b

True

In [67]:
not (a and b)

True

### 구성원 연산자

in 
not in

In [68]:
a = [1,2,'Hello Data']

In [69]:
1 in a

True

In [70]:
1 not in a

False

In [71]:
3 in a

False

In [72]:
3 not in a

True

In [73]:
b = {'a':1, 'b':2, 'c':3}

In [74]:
'a' in b

True

In [75]:
'k' in b

False

In [76]:
1 in b

False

### 연산자 활용

In [94]:
a = [ 
    {'num':'1','name':'김철수','kor':90,'eng':80,'math':85,'total':0,'avg':0.0},
    {'num':'2','name':'박민주','kor':90,'eng':85,'math':90,'total':0,'avg':0.0},
    {'num':'3','name':'박영호','kor':80,'eng':80,'math':80,'total':0,'avg':0.0}
    ]

In [95]:
a[0]

{'num': '1',
 'name': '김철수',
 'kor': 90,
 'eng': 80,
 'math': 85,
 'total': 0,
 'avg': 0.0}

In [96]:
a[0]['total']=1

In [97]:
a[0]

{'num': '1',
 'name': '김철수',
 'kor': 90,
 'eng': 80,
 'math': 85,
 'total': 1,
 'avg': 0.0}

In [98]:
# 학생별 합계 구하기
a[0]['total'] = a[0]['kor']+a[0]['eng']+a[0]['math'] # total
a[1]['total'] = a[1]['kor']+a[1]['eng']+a[1]['math'] # total
a[2]['total'] = a[2]['kor']+a[2]['eng']+a[2]['math'] # total

In [99]:
a[0]['total']

255

In [100]:
a[1]['total']

265

In [101]:
a[2]['total']

240

In [102]:
# 학생별 평균 구하기
a[0]['avg'] = a[0]['total']/3
a[1]['avg'] = a[1]['total']/3
a[2]['avg'] = a[2]['total']/3

In [103]:
print(a)

[{'num': '1', 'name': '김철수', 'kor': 90, 'eng': 80, 'math': 85, 'total': 255, 'avg': 85.0}, {'num': '2', 'name': '박민주', 'kor': 90, 'eng': 85, 'math': 90, 'total': 265, 'avg': 88.33333333333333}, {'num': '3', 'name': '박영호', 'kor': 80, 'eng': 80, 'math': 80, 'total': 240, 'avg': 80.0}]

In [104]:
#학급 평균
b = (a[0]['total']+a[1]['total']+a[2]['total'])/3

In [105]:
print(b)

253.33333333333334

## 조건문 if

### if 문의 구조

In [1]:
if 1:
    print("참")
else:
    print("거짓")

참

In [2]:
if 0:
    print('True')
else:
    print('False')

False

In [3]:
a = 100

In [4]:
if a>5000:
    print('택시를 타야합니다.')
else:
    print('버스를 타야합니다')

버스를 타야합니다

In [5]:
if a <= 5000:
    print('택시를 타야합니다.')
else:
    print('버스를 타야합니다')

택시를 타야합니다.

In [6]:
if a>5000:
print('택시를 타야합니다.')
else:
    print('버스를 타야합니다')

IndentationError: expected an indented block (<ipython-input-6-b4e8842617e3>, line 2)

In [7]:
if a>5000:
    print('택시를 타야합니다.')
    else:
    print('버스를 타야합니다')

SyntaxError: invalid syntax (<ipython-input-7-79ef790b6ec0>, line 3)

input()
float()
int()

In [9]:
grade = float(input("총평점을 입력해주세요:"))

총평점을 입력해주세요:4.3

In [10]:
if grade >= 4.3:
    print("당신은 장학금 수여 대상자입니다")
    print("축하합니다")

당신은 장학금 수여 대상자입니다
축하합니다

In [11]:
data = int(input('숫자를 입력하시오'))

숫자를 입력하시오5

In [13]:
if data%2 ==0:
    print("입력된 값은 짝수입니다")
else:
    print('입력된 값은 홀수입니다')

입력된 값은 홀수입니다

In [14]:
x=5

In [15]:
if x<10:
    a=1
elif 10 <= x <20:
    a = 2
else:
    a=3

In [16]:
a

1

#### 중첩 if

In [17]:
age = int(input('나이 : '))

나이 : 27

In [30]:
height = int(input('키를입력하세요:'))

ValueError: invalid literal for int() with base 10: '179.5'

In [31]:
type(input('키를입력하세요:'))

키를입력하세요:175

str

In [22]:
if age >= 40:
    if height >= 170:
        print("키가 보통 이상입니다.")
    else:
        print('키가 보통')
else: 
    if height >= 175:
        print("키가 보통 이상입니다.")
    else:
        print('키가 보통')

키가 보통 이상입니다.

## for 문

p.33 - 47

In [32]:
# for 문

In [33]:
for a in [1,2,3]:
    print(a)

1
2
3

In [35]:
for a in [(1,3),{5,7},9]:
    print(a)

(1, 3)
{5, 7}
9

In [36]:
(a,b) = (1,2)

In [37]:
print(a)

1

In [38]:
print(b)

2

In [39]:
print(a,b)

1 2

In [40]:
for (a,b) in [(1,2),(3,4),(5,6)]:
    print(a+b)

3
7
11

In [41]:
a = "Hello!"

In [42]:
b = ['Hello!',"Data"]

In [43]:
c = (1,2,3)

In [44]:
for x in a:
    print(x)

H
e
l
l
o
!

In [49]:
for x in a:
    print(x, end='')

Hello!

In [51]:
for x in a:
    print(x, end=' ')

H e l l o !

In [46]:
for x in b:
    print(x)

Hello!
Data

In [57]:
for x in b:
    print(x)

Hello!
Data

In [47]:
for x in c:
    print(x)

1
2
3

In [58]:
d = {'circle':2, 'rectangle':3,'line':1}

In [59]:
e = {'red','green','blue','red'}

In [60]:
for x in d:
    print(x)

circle
rectangle
line

In [61]:
for x in e:
    print(x)

blue
green
red

In [64]:
for x in d.items():
    print(x)

('circle', 2)
('rectangle', 3)
('line', 1)

In [65]:
for x in d.keys():
    print(x)

circle
rectangle
line

In [66]:
for x in d.values():
    print(x)

2
3
1

#### range(start,end,sep)

In [67]:
list(range(3,31,3))

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [71]:
result = 0

In [72]:
for i in list(range(1,11,2)):
    result += 3
    print(result)

3
6
9
12
15

In [73]:
result = []

In [75]:
for i in list(range(1,6)):
    for j in list(range(1,11)):
        k = i*j
        result_temp = [i,j,k]
        result.append(result_temp)

In [76]:
print(result)

[[1, 1, 1], [1, 2, 2], [1, 3, 3], [1, 4, 4], [1, 5, 5], [1, 6, 6], [1, 7, 7], [1, 8, 8], [1, 9, 9], [1, 10, 10], [2, 1, 2], [2, 2, 4], [2, 3, 6], [2, 4, 8], [2, 5, 10], [2, 6, 12], [2, 7, 14], [2, 8, 16], [2, 9, 18], [2, 10, 20], [3, 1, 3], [3, 2, 6], [3, 3, 9], [3, 4, 12], [3, 5, 15], [3, 6, 18], [3, 7, 21], [3, 8, 24], [3, 9, 27], [3, 10, 30], [4, 1, 4], [4, 2, 8], [4, 3, 12], [4, 4, 16], [4, 5, 20], [4, 6, 24], [4, 7, 28], [4, 8, 32], [4, 9, 36], [4, 10, 40], [5, 1, 5], [5, 2, 10], [5, 3, 15], [5, 4, 20], [5, 5, 25], [5, 6, 30], [5, 7, 35], [5, 8, 40], [5, 9, 45], [5, 10, 50]]

#### for + if

In [77]:
Score = [100,7,75,32]

In [78]:
num = 0

In [79]:
for a in Score:
    num += 1
    if a >=70:
        print("%d번 합격"%num)
    else:
        print(f'{num}번 불합격')

1번 합격
2번 불합격
3번 합격
4번 불합격

#### continue

In [80]:
# 아래 코드를 실행하지 않고 건너뜀

In [81]:
Score = [100,7,75,32]

In [82]:
num = 0

In [85]:
for a in Score:
    num += 1
    if a < 70:
        continue
    else:
        print(f'{num}번 합격')

1번 합격
3번 합격

#### range()

In [87]:
a = [100,7,75,32]

In [88]:
for b in range(len(a)):
    if a[b] < 60:
        continue
    print("%d번 합격"%(b+1))

1번 합격
3번 합격

In [89]:
len(a)

4

In [90]:
range(len(a))

range(0, 4)

#### 중첩 for

In [100]:
for a in range(2,10):
    for b in range(1,10):
        print(a*b, end=" ") # 이어서
    print(' ') # 다음줄

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

#### list comprehension 리스트 내포

In [101]:
lst = [1,2,3,4,5]

In [102]:
result = []

In [103]:
for num in lst:
    result.append(num*3)
print(result)

[3, 6, 9, 12, 15]

In [104]:
lst = [1,2,3,4,5]

In [106]:
result = [num*3 for num in lst]

In [107]:
print(result)

[3, 6, 9, 12, 15]

In [108]:
result = [num*3 for num in lst if num%2 ==0]

In [109]:
print(result)

[6, 12]

## while 문

In [110]:
i = 1

In [111]:
while i < 10:
    result = 2*i
    print(result)
    i += 1

2
4
6
8
10
12
14
16
18

In [112]:
a = 1

In [113]:
b = 0

In [114]:
while a <= 100:
    b += a
    a += 1
print('1부터 100까지의 합은:', b)

1부터 100까지의 합은: 5050

### break

In [115]:
a = 1

In [116]:
b = 0

In [120]:
while a <= 100:
    b += a
    a += 1
    if b > 3000: break
        
print('1부터 100까지의 합은:' , b)

1부터 100까지의 합은: 3160

In [121]:
result = []

In [122]:
for i in range(1,6):
    for j in range(1,11):
        k = i*j
        result_temp = [i,j,k]
        if k>10:
            break
        result.append(result_temp)

In [123]:
print(result)

[[1, 1, 1], [1, 2, 2], [1, 3, 3], [1, 4, 4], [1, 5, 5], [1, 6, 6], [1, 7, 7], [1, 8, 8], [1, 9, 9], [1, 10, 10], [2, 1, 2], [2, 2, 4], [2, 3, 6], [2, 4, 8], [2, 5, 10], [3, 1, 3], [3, 2, 6], [3, 3, 9], [4, 1, 4], [4, 2, 8], [5, 1, 5], [5, 2, 10]]